@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.ant-menu-item-icon {
  font-size: 25px !important;
}
.ant-layout-header {
  height: 40px;
  display: flex !important;
  justify-items: center !important;
  align-items: center;
}
.ant-btn {
  font-size: 25px;
}
.main {
  overflow-y: scroll;
}
